# compilation database
.cache/
compile_commands.json
.clangd

# editor directories
.vscode/
.zed/

# build directories
build/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.a
*.o
*.so
*.dylib
*.exe

# matrix outputs
*.mtx
